body {
    grid-template-rows: max-content;
}

main {
    grid-column: 4 / 6;
    grid-row: 2;
    display: grid;
    grid-template-rows: min-content;
    row-gap: var(--margin);
}

figure {
    grid-column: 2;
    grid-row: 3;
}

footer {
    /* display: none; */
    grid-row: 3;
}

.copyright {
    grid-column: 5 / -1;
    grid-row: 3;
    align-self: end;
}

/* MEDIA DLA PROPORCJI BLISKICH KWADRATOWI */
@media (max-width: 1225px) {
    main {
        grid-column: 2 / -2;
    }
    
    .copyright {
        grid-column: 3 / -1;
        align-self: start;
    }

    figure {
        grid-column: 3 / 4;
    }
}

/* MEDIA DLA PROPORCJI PIONOWYCH */
@media (max-width: 700px) {
    body {
        grid-template-columns: 1;
        grid-template-rows: auto 1fr auto;
    }

    main {
        display: grid;
        grid-column: 1;
    }

    .copyright {
        grid-column: 1;
        align-self: start;
    }

    figure {
        grid-column: 1;
        grid-row: 5;
        width: 50%;
    }

    footer {
        display: unset;
        grid-row: 4;
    }

    nav {
        grid-row: 6;
    }

}