@font-face {
    font-family: Arial-Nova;
    src:url(Arial-Nova.ttf);
}

:root {
    --background-color: #e6e6e6;
    --font-color: #101010;
    --selection-color: #696969;
    --menu-color: #D8544D;
    --font-size: 20px;
    --logo-size: calc(3.1 * var(--font-size));
    --line-height: 1.1;
    --margin: 20px;
}

h1, h2, p, a, ul {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-weight: normal;
    line-height: var(--line-height);
    color: var(--font-color);
    text-decoration: none;
    list-style: none; 
}

::selection {
    background-color: var(--selection-color);
}

a:hover {
    font-style: italic;
}

html {
    height: calc(100% - 2 * var(--margin));
    margin: var(--margin);
    background-color: var(--background-color);
    /* font-family: Arial-Nova;  */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto 1fr;
    row-gap: var(--margin);
}

header {
    grid-column: 1 / 2;
}

.logo {
    height: var(--logo-size);
    /* height: 62px; */
    margin-top: 3px;
    margin-bottom: -3px;
}

nav {
    grid-column: 3;
}

.button-menu {
    display: none;
}

main {
    grid-column: 1 / 4;
}

figure {
    /* height: 100%; */
    margin: 0;
    line-height: 0;
    grid-column: 4 / -1;
    grid-row: 1 / 4;
    /* justify-self: right; */
    display: flex;
    justify-content: right;
    align-items: end;
}

img {
    max-height: 100%;
    max-width: 100%;
    /* height: 100px; */
    /* align-self: end; */
}

footer {
    align-self: end;
}

/* MEDIA DLA PROPORCJI BLISKICH KWADRATOWI */
@media (max-width: 1225px) {
    :root {
        /* --margin: 15px; */
    }

    body {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto 1fr;
    }

    nav {
        grid-column: 4;
        /* justify-self: right; */
    }

    main {
        grid-column: 1 / -1;
    }

    figure {
        grid-column: 2 / -1;
        grid-row: 3 / 4;
        /* overflow: scroll; */
        overflow: auto;
    }

    figure > img {
        /* display: none; */
    }

    footer {
        grid-column: 1;
    }
}

/* MEDIA DLA PROPORCJI PIONOWYCH */
@media (max-width: 700px) {
    :root {
        --margin: 10px;
    }

    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    body > * {
        grid-column: 1;
    }

    nav {
        grid-row: 3;
        justify-self: unset;
    }

    nav > ul {
        display: none;
    }

    .button-menu {
        display: unset;
    }

    main, footer {
        display: none;
    }

    figure {
        grid-row: 2;
        justify-content: unset;
    }
}
